.set-card {
    /* height: 12vh; */
    /* width: 20vw; */
    padding: 20px;
    display: flex;
    width: fit-content;
    /* align-items: center; */
    /* justify-content: center; */
}

.no-margin {
    margin: 0px;
}

.align-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.set-max-width {
    width: 100vw;
}